.button {
  padding: 24px 20px;
}

.primary {
  color: white;
  border: 1px solid black;
  background-color: white;
  color: black;
  box-shadow: 0px 2px 0px #000000;
  border-radius: 8px;
  min-width: fit-content;
}
